* {
  box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: 'Comfortaa', cursive; }

body {
  margin: 0;
  padding: 0; }

.operations {
  height: 20%; }

.container {
  height: 100vh; }

.col-12 {
  padding: 0px; }

.footer {
  height: 10vh;
  width: 100vw;
  margin: 0px; }
  .footer nav {
    background-color: #d1d2d3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2em 0em 0.2em 0em; }
    .footer nav button {
      font-family: 'Comfortaa', cursive;
      font-size: 1em;
      color: #666464;
      font-weight: bolder;
      background-color: #f9fbfc;
      width: 30vw;
      height: 100%;
      border-radius: 0.5em;
      box-shadow: none;
      border: none;
      margin: 0; }
      .footer nav button a {
        text-decoration: none;
        color: inherit; }

header {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 1rem 0rem 0.2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header div {
    color: #3B3B3B;
    padding: 0px 25px 0px 25px; }
    header div i.fa {
      font-size: 3rem; }

.center-row {
  height: 60%; }

.main {
  background-color: #d1d2d3;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
  .main.empty {
    display: flex;
    align-items: center;
    justify-content: center; }

#filters {
  display: flex;
  justify-content: flex-start; }
  #filters .filter {
    display: flex;
    width: 120px;
    height: 210px;
    flex-direction: column;
    padding: 0px 7px 0px 7px;
    align-items: center;
    justify-content: left; }
    #filters .filter .filter-btn {
      display: block;
      width: 100px;
      height: 100px;
      background-size: cover; }

#tuning {
  display: flex;
  justify-content: flex-start; }
  #tuning .filter {
    display: flex;
    width: 120px;
    flex-direction: column;
    padding: 0px 7px 0px 7px;
    align-items: center;
    justify-content: left; }
    #tuning .filter a {
      text-decoration: none;
      color: #3B3B3B;
      display: block;
      text-align: center; }
    #tuning .filter a.active {
      color: #CF0000;
      text-decoration: none; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */ }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */ }

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */ }

header div i.fa {
  font-size: 1.5rem;
  color: #3B3B3B; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
